.quiz {
    color: transparent;
    border-bottom: 2px solid black;
    display: inline-block;
    min-width: 6em;
}
.normal-only {
    display: none !important;
}

.quiz-only {
    display: block !important;
}
.dual-image img {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.reveal .quarto-figure-center {
    text-align: center;
}

.reveal .quarto-figure-center figure {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.reveal .quarto-figure-center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reveal .slide p > img:only-child {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
